body {
  display: flex;
  justify-content: center;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 112px;
  border-radius: 6px;
  justify-content: space-between;
}
p {
  font-size: 18px;
  color: #555;
  background-color: #f9f9f9;
  padding: 15px;
  border-left: 5px solid #3498db;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}
#checkout {
  width: 100vw;
}
.hidden {
  display: none;
}

.Volver {
  text-align: center;
  margin-top: 20px;
}


.btn {
  display: inline-block;
  background-color: #12f35983; 
  color: #0c0c0c;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #22b5e6df;
  transform: translateY(-2px); 
}

.btn:active {
  background-color: #00a9d3; 
  transform: translateY(0); 
}
